*.sqlite3
*.pyc
oasis2017/config.py
oasis2017/email_config.py
preregistrations/instaconfig.py
.vscode
registrations/sg_config.py
keyconfig.py
media/
requirements.txt
smart-campus-ba95e-firebase-adminsdk-4dl5v-d645a5dd47.json