{% extends 'messportal/base.html' %}
{% load static %}

{% block body %}


<form method="POST" action="{% url 'regsoft:create_bill' g_leader.id %}">
        {% csrf_token %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Create ProfShow Bill
                    </h2>
                </div>

<div class="body">
        
            <select class="form-control show-tick" name="prof_show" data-live-search="true">
            {% for show in prof_shows %}
                <option value="{{show.id}}">{{show.name}}</option>        
            {% endfor %}
            </select>
            <label for="barcode">Enter Participant Barcode</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="text" id="barcode" class="form-control" placeholder="Participant Barcode" name="barcode">
                </div>
            </div>
            <label for="count">Quantity</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="count" class="form-control" placeholder="Quantity" name="count" value=0>
                </div>
            </div>
            <label for="mess">Mess Name</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="text" id="mess" class="form-control" placeholder="Mess Name" name="mess">
                </div>
            </div>
            <label for="twothousands">No of two thousand notes</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="twothousands" class="form-control" placeholder="No of two thousand notes" name="n_2000" value=0>
                </div>
            </div>
            <label for="fivehundreds">No of five hundred notes</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="fivehundreds" class="form-control" placeholder="No of five hundred notes" name="n_500" value="0">
                </div>
            </div>
            <label for="twohundreds">No of two hundred notes</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="twohundreds" name="n_200" class="form-control" placeholder="No of two hundred notes" value="0">
                </div>
            </div>
            <label for="hundreds">No of one hundred notes</label>
            <div class="form-group">
                    <div class="form-line">
                        <input type="number" id="hundreds" class="form-control" placeholder="No of one hundred notes" name="n_100" value="0">
                    </div>
            </div>
            <label for="fifties">No of fifty notes</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="fifties" name="n_50" class="form-control" placeholder="No of fifty notes" value="0">
                </div>
            </div>
            <label for="twenties">No of twenty notes</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="twenties" name="n_20" class="form-control" placeholder="No of twenty notes" value="0">
                </div>
            </div>
            <label for="tens">No of ten notes</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="tens" name="n_10" class="form-control" placeholder="No of ten notes" value="0">
                </div>
            </div>
            <label for="created_by">Bill Created By</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="text" id="created_by" class="form-control" placeholder="Bill Created By" name="created_by">
                </div>
            </div>
            <button type="submit" class="btn btn-primary m-t-15 waves-effect">Create Bill</button>
        </form>
</div>
</div>
</div>
</div>

{% endblock %}