{% extends 'messportal/base.html' %}
{% block body %}

<form method="POST" action="{% url 'messportal:edit_profshow' profshow.id %}">
        {% csrf_token %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Edit Prof Show
                    </h2>
                </div>

<div class="body">
            <label for="name">Enter ProfShow Name</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="text" id="name" class="form-control" placeholder="ProfShow Name" name="name" value="{{profshow.name}}">
                </div>
            </div>
            <label for="price">Price</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="price" class="form-control" placeholder="ProfShow Price" name="price" value={{profshow.price}}>
                </div>
            </div>
            <label for="app_content">App Content</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="text" id="app_content" class="form-control" placeholder="App Content" name="app_content" value='{{profshow.app_content}}'>
                </div>
            </div>
            <label for="date">Date</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="text" id="date" class="form-control" placeholder="DD/MM/YYYY" name="date" value='{{profshow.date}}'>
                </div>
            </div>
            <label for="venue">Venue</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="text" id="venue" class="form-control" placeholder="ProfShow Venue" name="venue" value='{{profshow.venue}}'>
                </div>
            </div>
            <label for="contact">Contact</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="text" id="contact" class="form-control" placeholder="ProfShow Contact" name="contact" value='{{profshow.contact}}'>
                </div>
            </div>
            <button type="submit" class="btn btn-primary m-t-15 waves-effect">Edit ProfShow</button>
        </form>
</div>
</div>
</div>
</div>

{% endblock %}