{% extends 'ems/base.html' %}

{% block body %}
<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
            <h2>Add Team</h2>
                <button class="btn btn-primary m-t-15 waves-effect" id="bitsian">Add Bitsian</button>
                <button class="btn btn-primary m-t-15 waves-effect" id="non">Add Non-Bitsian</button>    
            </div>
            <div class="body">
            </div>
        </div>
            

        </div>
    </div>
{% endblock %}