{% extends 'ems/base1.html' %}

{% block body %}

<div class="row clearfix">
 {% if messages %}
<div class="body">
{% for message in messages %}
<label class='error' for='answer' generated="true">{{message}}</label>
{% endfor %}
</div>
{% endif %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
        <form action="{% url 'ems:add_judge' %}" method="post">
        {% csrf_token %}
            <div class="header">
            <h2>Add Judge</h2>
            </div>
            <div class="body">
                <div class="input-group">
                    <div class="form-line">
                        <input type="text" name="name" id="name" placeholder="Name" class="form-control" required><label for="name">Judge's Name</label>
                    </div>
                </div>
                <select class="form-control show-tick" name="event_id" data-live-search="true">
                    {% for event in events %}
                        <option value="{{event.id}}">{{event.name}}</option>        
                    {% endfor %}
                        <option value="">None</option>
                </select>
                <br><br>
                <div class="row">
                        <div class="col-xs-2">
                            <button class="btn btn-block bg-blue waves-effect" type="submit" value="add" name="submit">Submit</button>
                        </div>
                </div>
            </div>
        </form>
        </div>
            

        </div>
    </div>
{% if judges %}
<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Judges</h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <form action="{% url 'ems:add_judge' %}" method="post">
                        {% csrf_token %}
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Event</th>
                                    <th>Username</th>
                                    <th>Pasword</th>
                                    <th>Select</th>
                            </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Event</th>
                                    <th>Username</th>
                                    <th>Pasword</th> 
                                    <th>Select</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for judge in judges %}
                                <tr>
                                    <td>{{judge.name}}</td>
                                    <td>{{judge.event.name}}</td>
                                    <td>{{judge.user.username}}</td>
                                    <td>{{judge.password}}</td>
                                    <td><input type="checkbox" name="judge_id" id="{{judge.id}}" value="{{judge.id}}"><label for="{{judge.id}}"></label></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                        <div class="col-xs-2">
                            <button class="btn btn-block bg-blue waves-effect" type="submit" name="submit" value="delete">Delete</button>
                        </div>
                </div>
                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}