{% extends 'ems/base.html' %}

{% block body %}
<button type="button" class="btn btn-primary btn-circle-lg waves-effect waves-circle waves-float"  onclick='window.location.assign("{% url 'ems:add_level' event.id %}")'>
                                    <i class="material-icons">add</i>
                                </button>
{% if levels %}
<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="card">
                <div class="header">
                    <h2>
                       All levels for {{event}}
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                                <tr> 
                                	<th>S.no.</th>                                   
                                    <th>Name</th>
                                    <th>Level</th>
                                    <td>Select</td>
                            </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>S.no.</th>                                   
                                    <th>Name</th>
                                    <th>Level</th>
                                    <td>Select</td>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for level in levels %}
                                <tr>
                                    <td>{{forlooop.counter}}</td>
                                    <td>{{level.name}}</td>
                                    <td>{{level.position}}</td>
                                    <td><a href="#">Select</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
<div class="row clearfix">
<div class="body">
<label class='error' for='answer' generated="true">Click on the button above to add levels</label>
</div>
</div>
{% endif %}

{% endblock %}