{% extends 'ems/base.html' %}

{% block body %}



<div class="row clearfix">
{% if messages %}
{% for message in messages %}
<div class="body">
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <large>{{message}}</large>
</div>
</div>
{% endfor %}
{% endif %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
        <form action="{% url 'ems:add_level' event.id %}" method="post">
        {% csrf_token %}
            <div class="header">
            <h2>Add Level</h2>
            </div>
            <div class="body">
                <div class="input-group">
                    <div class="form-line">
                        <input type="text" name="name" id="name" placeholder="Level Name" class="form-control" required><label for="name">Level Name</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="form-line">
                        <input type="text" class="form-control" required name="parameters" placeholder="Name of the parameters separated by '?'" id="parameters"><label for="parameters">Parameters</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="form-line">
                        <input type="text" name="values" id="values" class="form-control" required placeholder="Max-Values for the above parameters respectively separated by '?'"><label for="values">Values</label>
                    </div>
                </div>
                <div class="row">
                        <div class="col-xs-2">
                            <button class="btn btn-block bg-blue waves-effect" type="submit">Add Level</button>
                        </div>
                </div>
            </div>
        </form>
        </div>
            

        </div>
    </div>




{% if levels %}
<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="card">
                <div class="header">
                    <h2>
                       All levels for {{event}}
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                                <tr> 
                                	<th>S.no.</th>                                   
                                    <th>Name</th>
                                    <th>Level</th>
                                    <td>Select</td>
                            </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>S.no.</th>                                   
                                    <th>Name</th>
                                    <th>Level</th>
                                    <td>Select</td>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for level in levels %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{level.name}}</td>
                                    <td>{{level.position}}</td>
                                    <td><a href="{% url 'ems:show_level' level.id %}">Select</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
<div class="row clearfix">
<div class="body">
<label class='error' for='answer' generated="true">Click on the button above to add levels</label>
</div>
</div>
{% endif %}

{% endblock %}