{% extends 'ems/base.html' %}

{% block body %}
{% load ems_tags %}
<div class="row">
{% if messages %}
{% for message in messages %}
<div class="body">
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <large>{{message}}</large>
</div>
</div>
{% endfor %}
{% endif %}
</div>

{% if teams %}

<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <form action="{% url 'ems:update_scores' event.id level.id %}" method="post">
                    {% csrf_token %}

                <div class="header">
                    <h2>
                       Level {{level.postion}} {{level.name}}
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover dataTable">
                            <thead>
                                <tr> 
                                    <th>Name</th>
                                    <th>Leader</th>
                                    {% for param in parameters %}
                                    <th>{{param.name}} | Max-Value({{param.max_val}})</th>
                                    {% endfor %}
                            </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Leader</th>
                                    {% for param in parameters %}
                                    <th>{{param.name}} | Max-Value({{param.max_val}})</th>
                                    {% endfor %}
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for team in teams %}
                                <tr>
                                    <td>{{team.team.name}}</td>
                                    {% if team.team.leader %}
                                    <td>{{team.team.leader}}</td>
                                    {% else %}
                                    <td>{{team.team.leader_bitsian}}</td>
                                    {% endif %}
                                    {% for p in parameters %}
                                    {% if not team.score.is_frozen %}
                                    <td><input type="number" min="0" step="1" name="{{team.team.id}}-{{p.id}}" value="{% get_it team.score_dict p.id %}" required></td>
                                    {% else %}
                                    <td>{% get_it team.score_dict p.id %}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="row">
                    <div class="col-xs-2">
                            <button class="btn btn-block bg-blue waves-effect" type="submit" name="submit">Update Score</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            {% else %}
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                No teams in this level.
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}