{% extends 'regsoft/base.html' %}
{% block body %}

<form action="{% url 'regsoft:checkout' college.id %}" method="post">
    {% csrf_token %}
        <div class="card">
        <div class="header">
            <h2>
                Select participants from {{college.name}} to check out
            </h2>
        </div>
    <div class="body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover dataTable">
            <thead>
                    <tr>
                        <th>Select All</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            <input type="checkbox" id="selectAll" onclick="addChecks(1)">
                            <label for="selectAll"></label>
                        </th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Group code</th>
                        <th>Room</th>
                        <th>Bhavan</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Group code</th>
                        <th>Room</th>
                        <th>Bhavan</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                {% for part in part_list %}
                    <tr>
                        <td>{{part.name}}</td>
                        <td>{{part.group.group_code}}</td>
                        <td>{{part.room.room}}</td>
                        <td>{{part.room.bhavan}}</td>
                        <td>
                            <input name="part_list" type="checkbox" class="checkbox-number" onchange="addChecks(01)" id="{{part.id}}" value="{{part.id}}"/>
                            <label for="{{part.id}}"></label>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
        </div>
        <span id="chknumber">Checked: 0</span>
        </div>
    </div>
    <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Enter the amount retained
                        </h2>
                    </div>
    
    <div class="body">
            
                <label for="retained">Amount retained: </label>
                <div class="form-group">
                    <div class="form-line">
                        <input type="number" id="retained" class="form-control" placeholder="Amount retained" name="retained" value=0>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary m-t-15 waves-effect">Checkout</button>
</form>
<a href="{% url 'regsoft:checkout_groups' college.id %}" class="btn btn-primary m-t-15 waves-effect">View checked out groups</a> 
<script>
function addChecks(number) {
    var checked = document.querySelectorAll('.checkbox-number:checked').length;
    var total = document.querySelectorAll('.checkbox-number').length;
    document.getElementById("chknumber").innerHTML = "Checked : "+checked+"/"+total;
    if(number == 1) {
        setTimeout(function(){
            addChecks(0);
        },200);
    }
}
</script>
{% endblock %}