{% extends 'regsoft/base.html' %}
{% load static %}
{% load regsoft_tags %}
{% block body %}


<form method="POST" action="{% url 'regsoft:create_bill' group.id %}">
        {% csrf_token %}
        
<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Participants from {{group | get_group_college}} under {{group | get_gleader_name}}
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        
                        <table class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                            <tr>
                                <th>Select All</th>
                                <th></th>
                                <th>
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </th>
                                <th></th>
                            </tr>
                                <tr>
                                    <th>Name</th>
                                    <th>Event(s)</th>
                                    <th>Select</th>
                                    <th>Amount to be paid</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Event(s)</th>
                                    <th>Select</th>
                                    <th>Amount to be paid</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for part in controlz_unpassed %}
                                <tr>
                                    <td>{{part.name}}</td>
                                    <td>{{part | get_events_list}}</td>
                                    <td class="chk">
                                        <input type="checkbox" name="data" id="{{part.id}}" value="{{part.id}}">
                                        <label for="{{part.id}}"></label>
                                    </td>
                                    <td>
                                        {% if part.controlz_paid %}
                                        0
                                        {% elif part.paid %}
                                        700
                                        {% else %}
                                        1000
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Create Bill of Rs. <span id="amount">0</span>
                    </h2>
                </div>

<div class="body">
        
            <label for="twothousands">No of two thousand notes</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="twothousands" class="form-control" placeholder="No of two thousand notes" name="twothousands" value=0>
                </div>
            </div>
            <label for="fivehundreds">No of five hundred notes</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="fivehundreds" class="form-control" placeholder="No of five hundred notes" name="fivehundreds" value="0">
                </div>
            </div>
            <label for="twohundreds">No of two hundred notes</label>
            <div class="form-group">
                    <div class="form-line">
                        <input type="number" id="twohundreds" class="form-control" placeholder="No of two hundred notes" name="twohundreds" value="0">
                    </div>
                </div>
            <label for="hundreds">No of one hundred notes</label>
            <div class="form-group">
                    <div class="form-line">
                        <input type="number" id="hundreds" class="form-control" placeholder="No of one hundred notes" name="hundreds" value="0">
                    </div>
            </div>
            <label for="fifties">No of fifty notes</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="fifties" name="fifties" class="form-control" placeholder="No of fifty notes" value="0">
                </div>
            </div>
            <label for="twenties">No of twenty notes</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="twenties" name="twenties" class="form-control" placeholder="No of twenty notes" value="0">
                </div>
            </div>
            <label for="tens">No of ten notes</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="tens" name="tens" class="form-control" placeholder="No of ten notes" value="0">
                </div>
            </div>
            <label for="draft_number">Draft Number</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="text" name="draft_number" id="draft_number" class="form-control" placeholder="Draft Number">
                </div>
            </div>
            <label for="draft_amount">Draft Amount</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="draft_amount" name="draft_amount" class="form-control" placeholder="Draft Amount" value="0">
                </div>
            </div>
            <br>
            <br><br>
            <label for="twothousandsreturned">No of two thousand notes returned</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="twothousandsreturned" class="form-control" placeholder="No of two thousand notes returned" name="twothousandsreturned" value=0>
                </div>
            </div>
            <label for="fivehundredsreturned">No of five hundred notes returned</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="fivehundredsreturned" class="form-control" placeholder="No of five hundred notes returned" name="fivehundredsreturned" value="0">
                </div>
            </div>
            <label for="twohundredsreturned">No of two hundred notes returned</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="twohundredsreturned" class="form-control" placeholder="No of two hundred notes returned" name="twohundredsreturned" value="0">
                </div>
            </div>
            <label for="hundredsreturned">No of one hundred notes returned</label>
            <div class="form-group">
                    <div class="form-line">
                        <input type="number" id="hundredsreturned" class="form-control" placeholder="No of one hundred notes returned" name="hundredsreturned" value="0">
                    </div>
            </div>
            <label for="fiftiesreturned">No of fifty notes returned</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="fiftiesreturned" name="fiftiesreturned" class="form-control" placeholder="No of fifty notes returned" value="0">
                </div>
            </div>
            <label for="twentiesreturned">No of twenty notes returned</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="twentiesreturned" name="twentiesreturned" class="form-control" placeholder="No of twenty notes returned" value="0">
                </div>
            </div>
            <label for="tensreturned">No of ten notes returned</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" id="tensreturned" name="tensreturned" class="form-control" placeholder="No of ten notes returned" value="0">
                </div>
            </div>
            <button type="submit" class="btn btn-primary m-t-15 waves-effect">Create Bill</button>
        </form>
</div>
</div>
</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Controlz passed participants
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Event</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Event</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for part in controlz_passed %}
                            <tr>
                                <td>{{part.name}}</td>
                                <td>{{part | get_events_list}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}