{% extends "regsoft/base.html" %}
{% block body %}
{% load regsoft_tags %}
{% if unapproved_list %}
{% if messages %}
<div class="body">
{% for message in messages %}
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{message}}
</div>
{% endfor %}
</div>
{% endif %}
<div class="card">
    <div class="header">
        <h2>
            Unconfirmed Participants from {{college.name}}
        </h2>
    </div>
	<div class="body">
	<form action="{% url 'regsoft:firewallz_approval' college.id %}" method="post">
	{% csrf_token %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover dataTable">
                <thead>
                    <tr>
                            <th>Select All</th>
                            <th></th>
                            <th></th>
                            <th>
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </th>
                        </tr>
                    <tr>
                        <th>Name</th>
                        <th>Events</th>
                        <th>Show uploads</th>
                        <th>Select</th>
                        <th>Group Leader</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Events</th>
                        <th>Show uploads</th>
                        <th>Select</th>
                        <th>Group Leader</th>
                    </tr>
                </tfoot>
                <tbody>
                	{% for i in unapproved_list %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i|get_events_list}}</td>
                        <td>
                            <a href="{% url 'regsoft:show_uploads' i.id %}" target="blank">Show</a>
                        </td>
                        <td>
                        	<input type="checkbox" name="id_list" id="{{i.id}}" value="{{i.id}}">
                        	<label for="{{i.id}}"></label>
                        </td>
                        <td>
                        	<input type="radio" name="g_leader_id" id="{{i.barcode}}" value="{{i.id}}">
                        	<label for="{{i.barcode}}"></label>
						</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" value="confirm" name="action">
            <button type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect">Confirm</button>
        </div>
	</form>
    </div>
</div>
{% endif %}



{% if groups_passed %}
<div class="card">
    <div class="header">
        <h2>
            Confirmed Groups
        </h2>
    </div>
	<div class="body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Participant Count</th>
                        <th>Passed Time</th>
                        <th>Group Code</th>
                        <th>Group Leader</th>
                        <th>View Details</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sr No</th>
                        <th>Participant Count</th>
                        <th>Passed Time</th>
                        <th>Group Code</th>
                        <th>Group Leader</th>
                        <th>View Details</th>
                    </tr>
                </tfoot>
                <tbody>
                	{% for i in groups_passed %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i|participant_count}}</td>
                        <td>{{i.created_time}}</td>
                        <td>{{i.group_code}}</td>
                        <td>{{i| get_gleader_name}}</td>
                        <td><a href="{% url 'regsoft:get_group_list' i.id %}">View Details</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
