<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-expand-effect">
            <div class="icon">
                <i class="material-icons">person</i>
            </div>
            <div class="content">
                <div class="text">PCr Confirmed</div>
                <div class="number count-to" data-from="0" data-to="{{pcr_final}}" data-speed="15" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="icon">
                <i class="material-icons">person_add</i>
            </div>
            <div class="content">
                <div class="text">Firewallz Parts</div>
                <div class="number count-to" data-from="0" data-to="{{firewallz}}" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="info-box bg-blue-grey hover-expand-effect">
            <div class="icon">
                <i class="material-icons">person</i>
            </div>
            <div class="content">
                <div class="text">Firewallz Guests</div>
                <div class="number count-to" data-from="0" data-to="{{guests}}" data-speed="15" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="info-box bg-light-green hover-expand-effect">
            <div class="icon">
                <i class="material-icons">person_outline</i>
            </div>
            <div class="content">
                <div class="text">Controls Passed</div>
                <div class="number count-to" data-from="0" data-to="{{controlz}}" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="info-box bg-orange hover-expand-effect">
            <div class="icon">
                <i class="material-icons">person_pin</i>
            </div>
            <div class="content">
                <div class="text">Accommodated</div>
                <div class="number count-to" data-from="0" data-to="{{recnacc}}" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="info-box bg-grey hover-expand-effect">
            <div class="icon">
                <i class="material-icons">person</i>
            </div>
            <div class="content">
                <div class="text">Checkout</div>
                <div class="number count-to" data-from="0" data-to="{{checkout}}" data-speed="15" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
</div>