<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>OASIS '17 | WordWars</title>
    <link rel="shortcut icon" href="{% static 'pcradmin/images/Oasis-Logo.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'pcradmin/css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'pcradmin/css/style_wordwars.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'pcradmin/css/style.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <div class="row">
    <nav class="blue lighten-2">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">WordWars '17 | Presented by Oasis Hindi Press</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'wordwars:home' %}">Home</a></li>
            <li><a href="{% url 'wordwars:leaderboard' %}">LEADERBOARD</a></li>
            <li><a href="https://m.facebook.com/events/1865390100442839">OHP Facebook Page</a></li>
            <li><a href="{% url 'wordwars:rulespage' %}">Rules</a></li>
            <li><a href="{% url 'wordwars:contact' %}">Contact</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'wordwars:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'wordwars:register' %}">Register</a></li>
            <li><a href="{% url 'wordwars:login' %}">Login</a></li>            
            {% endif %}
            </ul>


            <ul class="side-nav" id="mobile-demo">
            <li><a href="{% url 'wordwars:home' %}">Home</a></li>
            <li><a href="{% url 'wordwars:leaderboard' %}">LEADERBOARD</a></li>
            <li><a href="https://m.facebook.com/events/1865390100442839">OHP Facebook Page</a></li>
            <li><a href="{% url 'wordwars:rulespage' %}">Rules</a></li>
            <li><a href="{% url 'wordwars:contact' %}">Contact</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'wordwars:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'wordwars:register' %}">Register</a></li>
            <li><a href="{% url 'wordwars:login' %}">Login</a></li>            
            {% endif %}
            </ul>
        </div>
    </nav>
    </div>
    
    {% block body %}
    {% endblock %}
    
    <footer class="page-footer blue lighten-2">
    <div class="footer-copyright center">
        <div class="container">
        Made with <span style="color:white; font-size:20px;">&hearts; </span>at<a class="pink-text text-lighten-5" href="http://bits-dvm.org"><strong> DVM</strong></a>.
        </div>
    </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'pcradmin/js/materialize.min.js' %}"></script>
    <script src="{% static 'pcradmin/js/init.js' %}"></script>
    <script type="text/javascript">
    $(".button-collapse").sideNav();        
    </script>
</body>