<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>OASIS '17 | WordWars</title>
    <link rel="shortcut icon" href="{% static 'pcradmin/images/Oasis-Logo.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'pcradmin/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'pcradmin/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <ul id="dropdown1" class="dropdown-content">
        {% for day in active_days %}
            <li><a href="{% url '#Day1' 'college' %}">{{day no}}</a></li>
        {% endfor %}
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">WordWars '17 | Presented by Oasis Hindi Press</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown1">Unveiled days<i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li><a href="badges.html">LEADERBOARD</a></li>
            <li><a href="badges.html">OHP Facebook Page</a></li>
            <li><a href="badges.html">Rules</a></li>
            <li><a href="badges.html">Contact</a></li>
            <li><a href="collapsible.html">Logout</a></li>
            </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
     
    <footer class="page-footer purple lighten-1">
    <div class="footer-copyright center">
        <div class="container">
        Made with <span style="color:white; font-size:20px;">&hearts; </span>at<a class="pink-text text-lighten-5" href="http://bits-dvm.org"><strong> DVM</strong></a>.
        </div>
    </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'pcradmin/js/materialize.js' %}"></script>
    <script src="{% static 'pcradmin/js/init.js' %}"></script>
</body>