{% extends 'wordwars/base.html' %}
{% block body %}
	<div class="row">
		<div class="container">
			<div class="card-panel contact">
				<h1><center>Contact</center></h1>
				<div class="row">
				<div class="col sm12 m6 l6">
				<div class="card bbb">
					<div class="card-content">
	<div class="card-title">For queries related to quiz format and questions</div>

Abhinav Rawat<br>
f2014006@pilani.bits-pilani.ac.in<br>
+91-8058788244
</div>
</div>
</div>
<div class="col sm12 m6 l6">
<div class="card bbb">
<div class="card-content">
<div class="card-title">For queries related to online interface</div>
Nilesh Naraniwal<br>
nilesh.naraniwal13@gmail.com<br>
+91-7742242774
</div>
</div>
</div>
</div>

			</div>
		</div>
	</div>
{% endblock %}