{% extends "wordwars/ohp_base.html" %}
{% block body %}


{% if messages %}
{% for message in messages %}
<div class="body">
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <large>{{message}}</large>
</div>
</div>
{% endfor %}
{% endif %}

{% if not day1 or not day2 or not day3 %}
<div class="card">
    <div class="header">
        <h2>
            Inactive Days
        </h2>
    </div>
	<div class="body">
	<form action="" method="post">
	{% csrf_token %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover dataTable">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Day</th>
                        <th>Select</th>
                    </tr>
                </tfoot>
                <tbody>
                	
                    {% if not day1 %}
                    <tr>
                        <td>Day 1</td>
                        <td>
                        	<input type="checkbox" name="data" id="1" value="1">
                        	<label for="1"></label>
						</td>
                    </tr>
                    {% endif %}

                    {% if not day2 %}
                    <tr>
                        <td>Day 2</td>
                        <td>
                            <input type="checkbox" name="data" id="2" value="2">
                            <label for="2"></label>
                        </td>
                    </tr>
                    {% endif %}

                    {% if not day3 %}
                    <tr>
                        <td>Day 3</td>
                        <td>
                            <input type="checkbox" name="data" id="3" value="3">
                            <label for="3"></label>
                        </td>
                    </tr>
                    {% endif %}

                </tbody>
            </table>
            <input type="hidden" value="activate" name="action">
            <button type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect">Activate</button>
        </div>
	</form>
    </div>
</div>
{% endif %}


{% if day1 or day3 or day2 %}
<div class="card">
    <div class="header">
        <h2>
            Activated Days
        </h2>
    </div>
	<div class="body">
	<form action="" method="post">
	{% csrf_token %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover dataTable">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Day</th>
                        <th>Select</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if day1 %}
                    <tr>
                        <td>Day 1</td>
                        <td>
                            <input type="checkbox" name="data" id="1" value="1">
                            <label for="1"></label>
                        </td>
                    </tr>
                    {% endif %}

                    {% if day2 %}
                    <tr>
                        <td>Day 2</td>
                        <td>
                            <input type="checkbox" name="data" id="2" value="2">
                            <label for="2"></label>
                        </td>
                    </tr>
                    {% endif %}

                    {% if day3 %}
                    <tr>
                        <td>Day 3</td>
                        <td>
                            <input type="checkbox" name="data" id="3" value="3">
                            <label for="3"></label>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <input type="hidden" value="deactivate" name="action">
            <button type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect">Deactivate</button>
        </div>
	</form>
    </div>
</div>
{% endif %}
{% endblock %}