{% extends 'wordwars/base.html' %}

{% block body %}

    <div class="row">
    
        <div class="col s12 m7 l4">
            <div class="card">
                <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title">Day 1</span>
                </div>
                <div class="card-content">
                Something Something
                </div>
                <div class="card-action">
                {% if day1 %}
                <a href="{% url 'wordwars:play' 1 %}">Display next question!</a>
                {% else %}
                 <a href="#">Inactive</a>
                 {% endif %}
                </div>
            </div>
        </div>


        <div class="col s12 m7 l4">
            <div class="card">
                <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title">Day 2</span>
                </div>
                <div class="card-content">
                Something Something
                </div>
                <div class="card-action">
                {% if day1 %}
                <a href="{% url 'wordwars:play' 2 %}">Display next question!</a>
                {% else %}
                 <a href="#">Inactive</a>
                 {% endif %}
                </div>
            </div>
        </div>


        <div class="col s12 m7 l4">
            <div class="card">
                <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title">Day 3</span>
                </div>
                <div class="card-content">
                Something Something
                </div>
                <div class="card-action">
                {% if day1 %}
                <a href="{% url 'wordwars:play' 3 %}">Display next question!</a>
                {% else %}
                 <a href="#">Inactive</a>
                 {% endif %}
                </div>
            </div>
        </div>
    
    </div>

{% endblock %}