{% extends 'pcradmin/base.html' %}
{% load static %}
{% block body %}


{% if messages %}
<div class="body">
{% for message in messages %}
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{message}}
</div>
{% endfor %}
</div>
{% endif %}


<h2>{{cr.college.name}}'s Participations as confirmed by the CR</h2>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Profile Pic</h2>
            </div>
            <div class="body">
                <div id="carousel-example-generic_2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            {% if cr.profile_pic %}
                            <img src="{{cr.profile_pic.url}}" alt="Upload left"/>
                            {% else %}
                            <img alt="Upload left"/>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Bonafide</h2>
            </div>
            <div class="body">
                <div id="carousel-example-generic_2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            {% if cr.verify_docs %}
                            <img src="{{cr.verify_docs.url}}" alt="Upload left"/>
                            {% else %}
                            <img alt="Upload left"/>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        		{% if disapproved %}
                    <div class="card">

                        <div class="header">
                            <h2>
                                Unconfirmed Participations
                            </h2>
                        </div>
                    <div class="body">
                        <div class="table-responsive">
                                <form action="" method="post">
                                {% csrf_token %}
                            <table class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                                    <tr>
                                        <th>Participant Name</th>
                                        <th>Event</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	{% for i in disapproved %}
                                    <tr>
                                        <td>{{i.participant.name}}</td>
                                        <td>{{i.event}}</td>
                                        <td>
	                                        <input type="checkbox" name="data" id="{{i.id}}" value="{{i.id}}">
	                                		<label for="{{i.id}}">Select</label>
                                		</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                   
                            </table>
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect" value="approve" name="submit">Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}


                {% if approved %}
                    <div class="card">

                        <div class="header">
                            <h2>
                                Confirmed Participations 
                            </h2>
                        </div>
                    <div class="body">
                        <div class="table-responsive">
                                <form action="" method="post">
                                {% csrf_token %}
                            <table class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                                    <tr>
                                        <th>Participant Name</th>
                                        <th>Event</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	{% for i in approved %}
                                    <tr>
                                        <td>{{i.participant.name}}</td>
                                        <td>{{i.event}}</td>
                                        <td>
	                                        <input type="checkbox" name="data" id="{{i.id}}" value="{{i.id}}">
	                                		<label for="{{i.id}}">Select</label>
                                		</td>
                                    </tr>
                                    {% endfor %}                                            
                                </tbody>
                   
                            </table>
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect" value="disapprove" name="submit">Unconfirm</button>
                            </form>

                        </div>
                    </div>
                </div>
                {% endif %}
        </div>
	</div>



{% endblock %}